html{
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 1230px;
  padding: 0 15px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-link:hover {
  color: #d1b309;
}

.header {
  height: 500px;
  width: 100%;
  padding: 20px 0;
  background-image: url(../img/map-gradient.png);
  background-size: cover;
  user-select: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;
  width: 100%;
  padding: 20px 0;

  color: #fff;
}

.menu__logo {
  display: flex;
  gap: 20px;
  align-items: center;

  height: 60px;
}

.menu__logo-img {
  height: 60px;
  width: 60px;
}

.menu__logo-img img{
  height: 60px;
  width: 60px;
}

.menu__logo-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
}

.menu__list {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  font-size: 18px;
}

.menu-burger {
  position: fixed;
  top: 40px;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #000000e7;
  padding: 30px 30px 30px 30px;
  width: 100%;
  height: 100%;
  animation: slide .5s linear 0s alternate;
  z-index: 10;
}

.menu__list-burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@keyframes slide {
  from {top: -100vh; opacity: 0;}
  to {top: 0; opacity: 1;}
}

.menu__list-burger-btn span {
  height: 2px;
  width: 40px;
  background-color: #fff;
  position: absolute;
  align-self: end;
}

.menu__list-burger-btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-top: 40px;
}

.menu__list-burger-btn span:nth-child(1) {
  transform: rotate(45deg);

}
.menu__list-burger-btn span:nth-child(2) {
  transform: rotate(-45deg);

}

.header__content {
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__content-title {
  font-size: 58px;
  text-transform: uppercase;
  color: #fff;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 0;
}

.container-main {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 30px;
}

.articles {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 840px;
}

.article {
  width: 100%;
  height: max-content;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.article__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article:nth-child(even) {
  flex-direction: row-reverse;
}


.article__content-img {
  height: 100%;
  width: 300px;
  overflow: hidden;
  background-image: url(../img/GN.jpg);
  background-size: cover;
  background-position: center right;
}

.article__content-text {
  width: 540px;
}

.article__content-text-title {
  margin-bottom: 20px;
  font-size: 24px;
}

.article__content-text {
  padding: 30px;
}

.article__footer {
  padding: 30px;
  height: max-content;
}

.article__footer-categories {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__footer-categories a {
  padding: 5px;
  border: 1px solid #d1b309;
  width: max-content;
}

.article-single {
  height: max-content;
  flex-direction: column;
}

.article-single-img {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.article__content-text-single {
  width: 100%;
  padding: 30px;
}

.link-single {
  color: #d1b309;
  margin-top: 10px;
  display: block;
}

.sidebar {
  position: sticky;
  width: 330px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  right: 0;
  top: 0;
}

.sidebar-links {
  height: 336px;
  width: 330px;
  background-color: #fff;

}
.sidebar__list {
  padding: 30px;
}

.sidebar__list-item {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #c4c2c2;
  font-size: 14px;
}

.marketing-box {
  height: 336px;
  width: 330px;
  background-image: url(../img/siberia.png);
  background-position: center center;
  background-size: cover;
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: center;


}

.marketing-box h2 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

.footer {
  background-color: #000;
  color: #fff;
  min-height: 150px;
  height: max-content;
  width: 100%;
  margin-top: auto;
  padding: 30px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__menu {
  margin-bottom: 20px;
}

.footer__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__menu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 5px;
}

.footer__menu-item {
  cursor: pointer;
}

.footer__info {
  width: max-content;
}

.footer__info-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__info-item {
  cursor: pointer;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.article__content-text-privacy {
  padding: 30px;
}

.article__content-text-privacy p {
  margin-bottom: 10px;
  line-height: 1.1;
  text-indent: 30px;
  user-select: none;

}

.article__content-text-privacy ol li {
  margin-bottom: 10px;
  line-height: 1.1;
  list-style: disc;
  margin-left: 30px;
  user-select: none;

}

.article__content-text-title-privacy {
  text-align: center;
  user-select: none;

}


@media screen and (max-width: 1270px) {
  .container {
    width: 1000px;
  }

  .article {
    width: 600px;
    height: max-content;
  }

  .article__content-img {
    height: 100%;
    width: 300px;
  }

  .article-single-img {
    width: 100%;
    height: 400px;
  }

  .article__content-text {
    width: 300px;
  }

  .sidebar, .sidebar-links, .marketing-box {
    width: 300px;
  }

  .sidebar-links, .marketing-box {
    height: 440px;
  }

}

@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
  }

  .container-main {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .sidebar {
    flex-direction: row;
    width: 600px;
    margin-top: 0;
    margin-bottom: 30px;
    order: -1;
    position: static;
  }

  .header {
    background-image: url(../img/mountlake.png);
    background-position: center center;
    background-size: cover;
  }

  .sidebar-links, .marketing-box {
    width: 285px;
  }

  .article__content-img {
    height: 440px;
    width: 300px;
  }

  .article-single-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .header__content-title {
    font-size: 40px;
  }

}

@media screen and (max-width: 800px) {

  .footer {
    height: max-content;
  }

  .footer__main {
    flex-direction: column;
  }

  .footer__menu-list {
    justify-content: space-evenly;

  }

  .footer__info {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__info-list {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  .container {
    padding: 0;
  }

  .header {
    padding: 20px 15px;
  }


  .articles {
    width: 100%;
  }

  .article {
    flex-direction: column;
    width: 100%;
  }

  .article__content-img {
    width: 100%;
    overflow: hidden;
  }

  .article:nth-child(even) {
    flex-direction: column;
  }

  .article__content-text {
    width: 100%;
    padding: 30px;
  }

  .sidebar {
    flex-direction: column;
    width: 100%;
  }

  .sidebar-links, .marketing-box {
    width: 100%;
    height: 300px;
  }

  .sidebar-links {
    height: max-content;
  }

  .header__content-title {
    font-size: 28px;
    text-align: center;
  }

  #home {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .footer__info-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}