html{
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

p:empty {
  display: none;
}

.container {
  margin: 0 auto;
  width: 1230px;
  padding: 0 15px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-link:hover {
  color: #d1b309;
}

.header {
  height: 500px;
  width: 100%;
  padding: 20px 0;
  background-image: url(../img/bg_dark.jpg);
  background-position: center center;
  background-size: cover;
  user-select: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;
  width: 100%;
  padding: 20px 0;

  color: #fff;
}

.menu__logo {
  display: flex;
  gap: 20px;
  align-items: center;

  height: 60px;
}

.menu__logo-img {
  height: 60px;
  width: 60px;
}

.menu__logo-img img{
  height: 60px;
  width: 60px;
}

.menu__logo-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
}

.menu__list {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  font-size: 18px;
}

.menu-burger {
  position: fixed;
  top: 40px;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #000000e7;
  padding: 30px 30px 30px 30px;
  width: 100%;
  height: 100%;
  animation: slide .5s linear 0s alternate;
  z-index: 10;
  line-height: 1.2;
}

.menu__list-burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;

}

@keyframes slide {
  from {top: -100vh; opacity: 0;}
  to {top: 0; opacity: 1;}
}

.menu__list-burger-btn span {
  height: 2px;
  width: 40px;
  background-color: #fff;
  position: absolute;
  align-self: end;
}

.menu__list-burger-btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-top: 40px;
}

.menu__list-burger-btn span:nth-child(1) {
  transform: rotate(45deg);

}
.menu__list-burger-btn span:nth-child(2) {
  transform: rotate(-45deg);

}

.header__content {
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__content-title {
  font-size: 58px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.header__content-text {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 0;
}

.container-main {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 30px;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links .page-numbers {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
}

.nav-links .current, .nav-links .next, .nav-links .prev {
  background-color: transparent;

}

.articles-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 840px;
  gap: 20px;
}

.article {
  width: 100%;
  min-height: 300px;
  background-color: #fff;
  display: flex;
  justify-content: start;
  height: max-content;
}



.article__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article:nth-child(even) {
  flex-direction: row-reverse;
}

.article__content-img {
  width: 300px;
  overflow: hidden;
  position: relative;
}
.article__content-img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.article__content-text {
  width: 540px;
  min-height: 250px;
  padding: 30px;
}




.article__content-text-title {
  margin-bottom: 20px;
  font-size: 24px;
  height: 50px;
}

.article__content-desc {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #c4c2c2;
  margin-bottom: 20px;
}

.article__footer {
  padding: 0 30px 30px;
  height: max-content;
}

.article__footer-categories {
  height: max-content;
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.article__footer-categories a {
  padding: 5px;
  border: 1px solid #d1b309;
  width: max-content;
}

.article-single {
  height: max-content;
  flex-direction: column;
}

.article-single-img {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.article__content-text-single {
  width: 100%;
  padding: 30px;
}

.link-single {
  color: #d1b309;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
}

.article-small {
  width: 400px;
  flex-direction: column;
  min-height: 625px;
}

.article-small:nth-child(even) {
  width: 410px;
  flex-direction: column;
}

.article__content-small {
  width: 100%;
}

.article__content-img-small {
  width: 100%;
  height: 250px;
  min-height: 250px;
}

.article__content-img-small img {
  width: 100%;
  height: 250px;
  min-height: 250px;
}

.article__content-text-small {
  width: 100%;
}

.sidebar {
  position: sticky;
  width: 330px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  right: 0;
  top: 0;
}

.sidebar-links {
  height: max-content;
  width: 330px;
  background-color: #fff;
  
}

.sidebar-widgets>ul {
  padding: 30px;
  padding-left: 30px !important;
}

.sidebar-widgets>ul>li {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #c4c2c2;
  font-size: 14px;
  line-height: 1.1;
}

.sidebar-widgets {
  display: flex;
  align-items: center;
}

.sidebar-widgets>form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  width: 100%;
  padding: 10px 0 20px;

}

.sidebar-widgets>form>div>input {
  height: 40px;
  border: 1px solid #c4c2c2;
  padding: 5px 10px;
  outline: none;
}

.sidebar-widgets>form>div>label {
  display: none;
}

#searchsubmit {
  font-family: 'Montserrat', sans-serif;
  border-radius: 0;

}

#searchsubmit:hover {
  background-color: #d1b309;
  color: #fff;
  cursor: pointer;
}

.marketing-box {
  height: 336px;
  width: 330px;
  background-image: url(../img/siberia.png);
  background-position: center center;
  background-size: cover;
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marketing-box h2 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

.footer {
  background-color: #000;
  color: #fff;
  min-height: 150px;
  height: max-content;
  width: 100%;
  margin-top: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__menu {
  margin-bottom: 20px;

}

.footer__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.footer__menu-item {
  cursor: pointer;

}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.article__content-text-privacy {
  padding: 30px;
}

.article__content-text-privacy p {
  margin-bottom: 10px;
  line-height: 1.1;
  text-indent: 30px;
  user-select: none;
}

.article__content-text-privacy ol li {
  margin-bottom: 10px;
  line-height: 1.1;
  list-style: disc;
  margin-left: 30px;
  user-select: none;
}

.article__content-text-title-privacy {
  text-align: center;
  user-select: none;
}


@media screen and (max-width: 1270px) {

  .articles {
    width: 640px;
  }

  .articles-inner {
    display: grid;
    grid-template-columns: repeat(2, 310px);
    gap: 20px;
  }

  .container {
    width: 1000px;
  }

  .article, .article-small {
    flex-direction: column;
    justify-content: start;
    margin-bottom: 0;
  }

  .article, .article-small, .article-small:nth-child(even) {
    width: 310px;
    height: max-content;
  }

  .article__content-img, .article__content-img-small {
    width: 100%;
    height: 250px;
  }

  .article-single-img {
    width: 100%;
    height: 400px;
  }

  .article__content-text {
    width: 300px;
    height: 270px;
  }
  
  .article__content-text-title {
    font-size: 18px;
  }

  .sidebar, .sidebar-links, .marketing-box {
    width: 300px;
  }

  .sidebar-links, .marketing-box {
    height: 440px;
  }

  .article__footer-categories {
    font-size: 12px;
  }

}

@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
  }

  .container-main {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .articles {
    width: 100%;
  }

  .articles-inner {
    width: 100%;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .article__content-img, .article__content-img-small {
    height: 250px;
  }

  .sidebar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    width: 100%;
    margin-top: 0;
    order: -1;
    position: static;
    padding: 0 20px;
  }

  .header {
    background-position: center center;
    background-size: cover;
  }

  .sidebar-links, .marketing-box {
    width: 100%;
  }

  .article-single-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .header__content-title {
    font-size: 40px;
  }

}

@media screen and (max-width: 970px) {

  .articles-inner {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }

  .article, .article-small, .article-small:nth-child(even) {
    width: auto;
  }

  .article__content, .article__content-small, .article__content-text-title {
    width: 100%;
  }

  .article__content-text {
    width: 100%;
  }

  .footer__main {
    flex-direction: column;
  }

}

@media screen and (max-width: 800px) {

  .footer {
    height: max-content;
  }

  .footer__main {
    flex-direction: column;
  }

  .footer__menu-list {
    justify-content: space-evenly;

  }

}

@media screen and (max-width: 760px) {

  .container-main {
    padding: 0;
  }

  .articles-inner {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 0;
  }

  .article-small:nth-child(even) {
    width: 100%;
  }

  .article__content-img, .article__content-img-small {
    height: 370px;
  }
  .article__content-img img, .article__content-img-small img {
    height: 370px;
  }
}

@media screen and (max-width: 630px) {
  .container {
    padding: 0;
  }

  .header {
    padding: 20px 15px;
  }


  .articles {
    width: 100%;
  }

  .article {
    flex-direction: column;
    width: 100%;
  }

  .article__content-img {
    width: 100%;
    overflow: hidden;
  }

  .article:nth-child(even) {
    flex-direction: column;
  }

  .article__content-text {
    width: 100%;
    padding: 30px;
  }

  .main {
    padding: 0;
  }

  .container-main {
    padding: 0;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 0;
  }

  .sidebar-links, .marketing-box {
    width: 100%;
    height: 300px;
  }

  .sidebar-links {
    height: max-content;
  }

  .header__content-title {
    font-size: 28px;
    text-align: center;
  }

  #home {
    display: none;
  }

  .footer__copyright {
    flex-direction: column;
    gap: 10px;
  }

  .footer__menu {
    margin-top: 30px;
    width: 100%;
  }

  .footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    justify-content: start;
  }
}

@media screen and (max-width: 540px) {

  .article__content-img, .article__content-img-small {
    height: 300px;
  }

  .article__content-img img, .article__content-img-small img {
    height: 300px;
  }

}

@media screen and (max-width: 440px) {

  .article__content-img, .article__content-img-small {
    height: 250px;
  }

  .article__content-img img, .article__content-img-small img {
    height: 250px;
  }

}
@media screen and (max-width: 340px) {

  .article__content-img, .article__content-img-small {
    height: 180px;
  }

  .article__content-img img, .article__content-img-small img {
    height: 180px;
  }

}